@import-normalize;

/* raleway-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/raleway-v29-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/raleway-v29-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/raleway-v29-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v26-cyrillic_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/montserrat-v26-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/montserrat-v26-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --container: 332px;
  --padding-container: 0px;
  box-sizing: border-box;
  /* position: relative; */
  overflow-y: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Raleway, sans-serif;
  /* max-height: 600px; */
  background-image: url(./img/background.svg);
  background-size: 320px;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #123056;
  min-width: 320px;
  color: #fff;
}

img,
svg {
  /* display: block; */
  height: auto;
  /* max-width: 100%;
  max-height: 100%; */
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
fieldset,
figure {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  max-width: 252px;
}

fieldset {
  margin: 0;
  padding: 0;
  bottom: 0;
}

main {
  width: 286px;
}

footer {
  width: 286px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  /* max-width: calc(var(--container) + (var(--padding-container) * 2));
  padding: var(--padding-container);
  margin: 0 auto; */
}

.header {
  /* display: flex; */
  /* padding: 20px 16px 0px 16px; */
  /* width: 100%; */
}

.header-container {
  /* width: 286px; */
  height: 40px;
  display: flex;
  margin-bottom: 65px;
  align-items: center;
}

.header__menu__icon {
  /* margin-right: 12px; */
  cursor: pointer;
}

.header__logo {
  margin-right: 100px;
  width: 96px;
  color: #fff;
}

.space__div {
  width: 12px;
}

.header__phone {
  cursor: pointer;
}

.phone-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__title {
  margin-bottom: 35px;
  font-size: 25px;
  font-weight: 600;
  line-height: 135.3%;
  text-align: left;
}

.header__appeal__phone {
  display: none;
  font-size: 11px;
  font-weight: 400;
  max-width: 154px;
  opacity: 0.5;
  text-align: left;
  line-height: 150%;
  margin-bottom: 50px;
}

.header__appeal {
  display: none;
  font-size: 11px;
  font-weight: 400;
  max-width: 154px;
  opacity: 0.5;
  text-align: left;
  line-height: 150%;
  margin-bottom: 50px;
}

.full_btn {
  display: flex;
  width: 126px;
  /* margin-left: -2px; */
  margin-bottom: 16px;
}

.full_btn_call {
  display: flex;
  width: 251px;
}

.btn__white {
  /* line-height: 122.8; */
  background-color: #fff;
  font-size: 10px;
  text-align: center;
  font-weight: 600;
  max-width: 126px;
  max-height: 30px;
  color: #07305d;
  border-right: solid 1.6px;
  border-color: #0b3461;

  flex: 1;
}

.btn__other {
  font-size: 10px;
  font-weight: 600;
  max-width: 126px;
  max-height: 30px;
  border: solid 1px;
  border-color: #fff;
  color: #fff;

  flex: 1;
}

.btn__other__call {
  font-size: 14px;
  font-weight: 600;
  /* max-width: 251px; */
  /* max-height: 30px; */
  border: solid 1px;
  border-color: #fff;
  color: #fff;

  flex: 1;
}

.btn__white-square {
  display: flex;
  width: 28px;
  height: 28px;
  background-color: #fff;
  cursor: pointer;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn__trans-square {
  display: flex;
  width: 28px;
  height: 28px;
  background-color: transparent;
  cursor: pointer;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #fff;
  align-items: flex-end;
  justify-content: flex-end;
}

.vector__blue {
  width: 8px;
  height: 8px;
  margin: 0 5px 5px 0;
}

.vector__white {
  width: 8px;
  height: 8px;
  margin: 0 5px 5px 0;
}

.footer {
  margin-top: 76px;
  display: flex;
}

.infoText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 8px;
  margin-right: 50px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 600;
  line-height: 141.3%;
}

.text {
  font-family: "Montserrat";
  font-size: 16px;
}

.shadowText__mobile {
  display: none;
  line-height: 122.8%;
  font-size: 16px;
  opacity: 0.5;
  font-weight: 400;
}

.shadowText {
  display: none;
  font-size: 10px;
  opacity: 0.5;
  font-weight: 400;
}

.main__page {
  margin: 0 auto;
  padding: 20px 16px 0px 16px;
  max-height: 600px;
  max-width: 320px;
}

/* Call Modal */

.call-modal-background {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-color: rgba(15, 29, 69, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  max-height: 600px;
  transform: scale(0);
  transition: 0.01s;
  backdrop-filter: blur(6px);
}

.call-modal-content {
  height: 100%;
  margin: 0 auto;
  width: 320px;
  background-color: #0f1d45;
}

.call-modal-background.active {
  transform: scale(1);
}

.call-modal-container {
  margin: 0 auto;
  padding: 24px 34px 81px 34px;
}

.consult-modal-container {
  margin: 0 auto;
  padding: 40px 82px 40px 82px;
}

.call-modal-title {
  margin-top: 36px;
  width: 260px;
}

.consult-modal-title {
  margin-top: 120px;
  text-align: center;
}

.consult-modal-title h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 157.8%;
}

.form-call-modal {
  margin-top: 49px;
  font-family: "Montserrat";
}

.form-call-phone {
  margin-top: 49px;
}

.text-input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-appearance: none;
  text-decoration: none;
  box-shadow: none;
  border-radius: 0;
  height: 20px;
  line-height: 122.8%;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  /* text-transform: uppercase; */
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.call-modal-title h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 148.8%;
}

.form-call-div {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.input-text {
  display: none;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  line-height: 128.8%;
  margin-left: 17px;
  margin-bottom: 54px;
}

.input-text__mobile {
  display: none;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  line-height: 128.8%;
  margin-left: 17px;
  margin-bottom: 54px;
  /* letter-spacing: 1px; */
}

.form-real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -2;
}

.form-real-checkbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 1px #fff;
}

.form-real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, 7%) scale(1);
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  background-image: url("./img/check-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 7%) scale(0);

  transition: 0.2s ease-in;
}

.cross__small {
  /* display: block; */
  text-align: right;
}

.nav__menu {
  display: none;
  max-width: 100%;
  /* width: 608px; */
  font-size: 14px;
  line-height: 122.8%;
  font-family: "Montserrat";
  /* letter-spacing: 2px; */
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  /* padding: 0px 8px; */
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  color: black;
  transition: 0.3s;
}

.phone__number__logo {
  display: none;
  font-family: "Montserrat";
  margin-left: 14px;
  font-size: 18px;
  /* width: 150px; */
}

/* Media /////////////////////////// */

@media (min-width: 0px) {
  .header__appeal__phone {
    display: block;
  }
  .shadowText__mobile {
    display: block;
  }
  .input-text__mobile {
    display: block;
  }
}

@media (min-width: 320px) {
  body {
    background-image: url("./img/desktop-bg.svg");
    background-size: 100%;
    max-height: 900px;
  }
  .main__page {
    padding: unset;
    padding-top: 40px;
    margin: 0 auto;
    width: 1320px;
    /* width: 100%; */
    min-width: 1320px;
    /* background-image: url("./img/desktop-bg.svg"); */
    background-size: auto;
    /* padding: 40px 300px 0px 300px; */
    /* margin: 0 auto; */
    font-weight: 200;
    /* background-position: 0%; */
  }

  .space__div {
    width: 130px;
  }

  .nav__menu {
    display: inline;
  }

  .phone__number__logo {
    display: inline;
  }

  .header__logo {
    height: 34px;
    width: 169px;
    margin-right: 187px;
  }

  .header__menu__icon {
    display: none;
  }

  .header__title {
    font-size: 65px;
    max-width: 747px;
  }

  .container {
    width: 100%;
  }

  .header {
    margin-bottom: 175px;
  }

  .header__appeal {
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    width: 675px;
    max-width: 100%;
    font-size: 16px;
    line-height: 150%;
    padding-left: 24px;
  }

  .header__appeal__phone {
    display: none;
  }

  .buttons {
    height: 71px;
    display: flex;
    gap: 40px;
  }

  .full_btn {
    width: 380px;
    height: 71px;
  }
  .btn__white {
    max-width: unset;
    max-height: unset;
    font-size: 18px;
  }

  .btn__other {
    max-width: unset;
    max-height: unset;
    font-size: 18px;
  }

  .btn__white-square {
    width: 72px;
    height: 71px;
    margin-left: auto;
  }

  .btn__trans-square {
    width: 72px;
    height: 71px;
  }

  .vector__blue {
    width: 20px;
    height: 20px;
    margin: 0 10px 10px 0;
  }

  .vector__white {
    width: 20px;
    height: 20px;
    margin: 0 10px 10px 0;
  }
  .footer {
    margin-top: 105px;
  }

  .infoText {
    padding-left: 24px;
    height: 137px;
  }

  .infoText .text {
    font-size: 40px;
  }

  .shadowText__mobile {
    display: none;
  }

  .shadowText {
    display: block;
  }

  .call-modal-background {
    max-height: unset;
  }

  .call-modal-content {
    margin: unset;
    width: 612px;
  }

  .call-modal-container {
    padding: 40px 32px 173px 75px;
  }

  .call-modal-title h2 {
    font-size: 50px;
    width: 490px;
  }
  .cross__small button {
    width: 31px;
    height: 31px;
  }

  .cross_svg {
    width: 100%;
    height: 100%;
  }

  .text-input {
    font-size: 20px;
    height: 25px;
    padding-bottom: 11px;
    width: 95%;
  }

  .form-call-div {
    margin-top: 110px;
    height: 42px;
    margin-bottom: 89px;
  }

  .custom-checkbox {
    width: 30px;
    height: 30px;
  }

  .custom-checkbox::before {
    height: 20px;
    top: 5%;
    width: 20px;
  }

  .input-text__mobile {
    display: none;
  }

  .input-text {
    display: block;
    font-size: 16px;
    margin-bottom: unset;
    margin-left: 23px;
    width: 342px;
  }

  .full_btn_call {
    width: 380px;
    height: 71px;
  }

  .btn__other__call {
    font-size: 18px;
  }

  .btn__trans-square {
    height: 71px;
    width: 71px;
  }
}
