@import-normalize;

/* raleway-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/raleway-v29-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/raleway-v29-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/raleway-v29-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v26-cyrillic_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/montserrat-v26-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/montserrat-v26-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --container: 332px;
  --padding-container: 0px;
  box-sizing: border-box;
  /* position: relative;
  overflow-x: hidden; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Raleway, sans-serif;
  min-width: 320px;
  min-width: 100vh;
  background-color: #123056;
  color: #fff;
  background-image: url(./img/background.svg);
  background-size: 320px;
  background-position: top;
  background-repeat: no-repeat;
}

img,
svg {
  /* display: block; */
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
fieldset,
figure {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  max-width: 252px;
}

fieldset {
  margin: 0;
  padding: 0;
  bottom: 0;
}

main {
  width: 286px;
}

footer {
  width: 286px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: calc(var(--container) + (var(--padding-container) * 2));
  padding: var(--padding-container);
  margin: 0 auto;
}

.header {
  padding: 20px 16px 0px 16px;
}

.header-container {
  width: 286px;
  height: 40px;
  display: flex;
  margin-bottom: 65px;
  /* justify-content: space-between; */
}

.header__menu {
  /* margin-right: 12px; */
  cursor: pointer;
}

.header__logo {
  margin-right: 98px;
  width: 96px;
  color: #fff;
}

.space__div {
  width: 12px;
}

.header__phone {
  cursor: pointer;
}

.header__title {
  margin-bottom: 35px;
  font-size: 25px;
  font-weight: 600;
  line-height: 135.3%;
  text-align: left;
}

.header__appeal {
  font-size: 11px;
  font-weight: 400;
  max-width: 154px;
  opacity: 0.5;
  text-align: left;
  line-height: 150%;
  margin-bottom: 50px;
}

.full_btn {
  display: flex;
  margin-left: -2px;
}

.btn__white {
  /* line-height: 122.8; */
  background-color: #fff;
  font-size: 10px;
  text-align: center;
  font-weight: 600;
  max-width: 126px;
  max-height: 30px;
  color: #07305d;
  padding: 9px 21px;
  border-right: solid 1.6px;
  border-color: #0b3461;
  margin-bottom: 16px;
}

.btn__other {
  font-size: 10px;
  font-weight: 600;
  max-width: 126px;
  max-height: 30px;
  padding: 9px 9px;
  border: solid 1px;
  border-color: #fff;
  color: #fff;
  text-align: left;
}

.btn__white-square {
  display: flex;
  width: 30px;
  height: 29.5px;
  background-color: #fff;
  cursor: pointer;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn__trans-square {
  display: flex;
  width: 30px;
  height: 29.5px;
  background-color: transparent;
  cursor: pointer;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #fff;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 92px;
}

.vector__blue {
  width: 8px;
  height: 8px;
  margin: 0 5px 5px 0;
}

.vector__white {
  width: 8px;
  height: 8px;
  margin: 0 5px 5px 0;
}

.footer {
  display: flex;
}

.infoText {
  margin-left: -2px;
  padding-left: 8px;
  margin-right: 53px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 600;
  line-height: 141.3%;
}

.text {
  font-family: "Montserrat";
  font-size: 16px;
}

.shadowText {
  display: block;
  font-size: 10px;
  opacity: 0.5;
  font-weight: 400;
}
